.container{
  width: 500px;
}

*{
  box-sizing: border-box;
}
/*body, html{
  width: 100%;
  margin: 0;
  padding: 0;
}*/
#addButton{
  width: 100%;
  background-color: ##9197ae;
  color: #273043;
}
#subButton{
  width: 100%;
    background-color: ##9197ae;
    color: #273043;
}
#multButton{
  width: 100%;
  background-color: ##9197ae;
color: #273043;
}
#divButton{
  width: 100%;
  background-color: ##9197ae;
  color: #273043;

}
#clearButton{
  width: 100%;
  background-color: ##9197ae;
  color: white;

}
#firstValue{
  width: 100%;
  background-color: white;
  color: #058ed6;
}
#secondValue{
  width: 100%;
  background-color: white;
  color: #058ed6;
}
.container{
  width: 100px;
  border: 3px solid #dd0426;
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #058ed6;
}
